<div fadeIn>
    <div class="row justify-content-center" *ngIf="producto">
        <div class="col-12 col-md-7 mt-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="mb-3">Detalle producto {{ producto.nombre }}</h5>
                    <table class="table">
                        <tbody>
                          <tr>
                            <th scope="row">Id:</th>
                            <td>{{ producto.id }}</td>
                          </tr>
                          <tr>
                            <th scope="row">Nombre:</th>
                            <td>{{ producto.nombre }}</td>
                          </tr>
                          <tr>
                            <th scope="row">Precio:</th>
                            <td>{{ producto.precio }}</td>                            
                          </tr>
                          <tr>
                            <th scope="row">Descripción:</th>
                            <td>{{ producto.descripcion }}</td>                            
                          </tr>        
                        </tbody>
                      </table>                      
                </div>                
              </div>
              <button class="btn btn-primary btn-block mt-3" (click)="regresar()">
                  Regresar
              </button>
        </div>
    </div>
</div>