<div class="container animate__animated animate__fadeIn">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 mt-5">
      <div class="card card-secondary">
          <div class="card-header">
            <h3 class="card-title">Registrar cliente</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form [formGroup]="formCliente" (ngSubmit)="crearCliente()">
            <div class="card-body">

              <div class="form-group">
                <label for="nombre">Nombres</label>
                <input                  
                  type="text"
                  class="form-control"                  
                  placeholder="Nombres"
                  formControlName="nombre"
                >
                <div class="campo-invalido">
                  <small *ngIf="validarCampo('nombre')" class="text-danger">
                    Nombre debe tener al menos 3 caracteres
                  </small>
                </div>
              </div>

              <div class="form-group">
                <label for="apellido">Apellidos</label>
                <input
                  type="text"
                  class="form-control"                  
                  placeholder="Apellidos"
                  formControlName="apellidos"
                >
                <div class="campo-invalido">
                  <small *ngIf="validarCampo('apellidos')" class="text-danger">
                    Apellido debe tener al menos 3 caracteres
                  </small>
                </div>
              </div>

              <div class="form-group">
                <label for="nombre">Teléfono</label>
                <input         
                  maxlength="8"         
                  type="text"
                  class="form-control"                  
                  placeholder="Teléfono"
                  formControlName="telefono"
                  (keypress)="onlyNumber($event)"              
                >
                <div class="campo-invalido">
                  <small *ngIf="validarCampo('telefono')" class="text-danger">
                    Teléfono debe tener 8 digitos
                  </small>
                </div>
              </div>

              <div class="form-group">
                <label for="nombre">NIT</label>
                <input
                  maxlength="14"
                  type="text"
                  class="form-control"                  
                  placeholder="NIT"
                  formControlName="nit"
                  (keypress)="onlyNumber($event)"
                >
                <div class="campo-invalido">
                  <small *ngIf="validarCampo('nit')" class="text-danger">
                    NIT debe tener 14 dígitos sin guiones
                  </small>
                </div>
              </div>

              <div class="form-group">
                <label for="nombre">Correo electrónico</label>
                <input
                  type="email"
                  class="form-control"                  
                  placeholder="Correo electrónico"
                  formControlName="correo"
                >
                <div class="campo-invalido">
                  <small *ngIf="validarCampo('correo')" class="text-danger">
                    Ingrese un correo electrónico valido
                  </small>
                </div>
              </div>

            </div>
            <!-- /.card-body -->
      
            <div class="card-footer">
              <button type="submit" class="btn btn-primary mx-1">
                Registrar
              </button>

              <button type="button" class="btn btn-danger mx-1" [routerLink]="['/clientes/listado-clientes']">
                Cancelar
              </button>
            </div>
          </form>
        </div>
  </div>
  </div>
</div>